body {
  display: flex;
  margin: 0px;
}

.profile-content {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  grid-template-areas: 
  "profile-picture-section profile-info-section profile-edit-section";
  height: 100vh;
  width: 100%;
}

.profile-picture-section {
  grid-area: profile-picture-section;
  padding: 20px;
  text-align: center;
}

.profile-info-section {
  grid-area: profile-info-section;
}

.profile-edit-section {
  grid-area: profile-edit-section;
  width: 100%;
}

.profile-default-image {
  width: 100%;
  max-width: 200px;
  margin: 50px auto 0;
  background-color: brown;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 20px;
}

.profile-account-number {
  font-size: 2em;
  margin-top: 20px;
}

#profile-image {
  font-size: 6em;
  margin: 0 auto;
}

.profile-info-name {
  display: flex;
  width: 100%;
  margin-top: 80px;
}

.profile-info-name-badge {
  width: 140px;
}

.profile-info-email {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.profile-info-email-badge {
  width: 140px;
}

.profile-info-address {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.profile-info-address-badge {
  width: 115px;
  margin-top: 20px;
}

.profile-info-address-indent {
  width: 100%;
  margin-top: 20px;
  margin-left: 80px;
}

.profile-info-address-indent-field {
  margin-top: 20px;
}

.profile-info-phone {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.profile-info-phone-badge {
  width: 140px;
}

.profile-info-credit-card {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.profile-info-credit-card-badge {
  width: 140px;
}

.profile-info-credit-card-expiry {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.profile-info-credit-card-expiry-badge {
  width: 140px;
}

#profile-edit-button {
  margin: 80px auto 0;
  color: white;
}

.flex-display {
  display: flex;
}

/* Edit Profile Styles */

.edit-profile-info-firstname {
  display: flex;
  width: 100%;
  margin-top: 80px;
}

.edit-profile-info-lastname {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.edit-profile-info-account-number {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.edit-profile-info-name-badge {
  width: 140px;
}

.edit-profile-info-email {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.edit-profile-info-email-badge {
  width: 140px;
}

.edit-profile-info-password {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.edit-profile-info-password-badge {
  width: 140px;
}

.edit-profile-info-address {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.edit-profile-info-address-indent {
  width: 100%;
  margin-top: 20px;
  margin-left: 80px;
}

.edit-profile-info-address-indent-field {
  margin-top: 20px;
}

.edit-profile-info-phone {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.edit-profile-info-phone-badge {
  width: 140px;
}

.edit-profile-info-credit-card {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.edit-profile-info-credit-card-badge {
  width: 140px;
}

.edit-profile-info-credit-card-expiry {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.edit-profile-info-credit-card-expiry-badge {
  width: 140px;
}

.edit-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

/* End Profile Edit Styles */

.tickets-info-section-badge {
  margin-top: 20px;
}

.tickets-info-section {
  margin-top: 20px;
}
