.home-page {
  width: 100%;
}

.sign-in {
  margin: 10% auto 0;
  width: 30%;
  min-width: 250px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  padding: 20px;
}

.sign-in h3 {
  text-align: center;
  margin-bottom: 40px;
}

.logo-container {
  height: 225px;
  text-align: center;
}

.logo {
  height: 260px;
  font-size: 8em;
  margin-top: 40px;
}

.login-account-number {
  width: 100%;
}

.login-password {
  width: 100%;
  margin-top: 20px;
}

.login-button {
  margin-top: 20px;
  width: 100%;
}

.sign-up-link {
  color: black;
  text-align: center;
}