body {
  display: flex;
  margin: 0px;
}

.reviews-content {
  display: grid;
  grid-template-rows: 10vh 7vh 83vh;
  grid-template-areas:
  "reviews-title-section"
  "reviews-alert-section"
  "reviews-info-section"
  ;
  width: 100%;
}

.reviews-title-section {
  grid-area: reviews-title-section;
  background-color: rgba(218, 218, 218, 0.57);
  text-align: center;
  box-shadow: 0 2px 1px -1px gray;
  min-height: 130px;
}

.reviews-title-section h1 {
  margin-top: 18px;
}

.add-review-button {
  float: right;
  margin-right: 40px !important;
  margin-left: -145px;
}

.reviews-alert-section {
  grid-area: reviews-alert-section;
  width: 80%;
  margin: 20px auto 0;
  text-align: center;
}

.reviews-info-section {
  grid-area: reviews-info-section;
  width: 80%;
  margin: 0 auto;
}

.table-item {
  cursor: pointer;
}
