nav {
  background: #136fd2;
  height: 100vh;
  width: 75px;
}

nav .menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

nav .menu-item {
  color: #ffffff;
  font-size: 2em;
  display: inline-block;
  text-align: center;
  height: 75px;
}

nav ul a:hover {
  text-decoration: none;
  color: #989898;
  transition: color 0.25s ease-in-out;
}

.top-menu-item {
  background-color: #6717d2;
  color: #ffffff;
  border: 1px solid; 
  text-align: center;
  font-size: 2em;
  display: inline-block;
}

#menu-item {
  margin: 20px auto;
}

nav .close-nav {
  display: none;
}

.dashboard-content {
  grid-template-columns: 1fr;
  width: 100%;
  height: 500px;
}

.close {
  display: none;
}

.open {
  display: none;
}

@media only screen and (max-width: 599px) {

  #side-menu {
    transition: transform .3s ease-in-out;
    top: 0;
    bottom: 0;   
    min-height: 100vh; 
    position: fixed;
    left: -340px;
  }

  #side-menu:target {     
    transform: translateX(340px);
  }

  #close {
    color: #ffffff;
    font-size: 2em;
    text-align: center;
    height: 75px;
    display: flex;
    align-content: flex-end;
    text-decoration: none;
  }

  #open {
    color: black;
    text-decoration: none;
    display: block;
  }

  #menu-close {
    margin: 20px auto;
    color: red;
  }
  
}