body {
  display: flex;
  margin: 0px;
}

.theater-complex-content {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  grid-template-areas: 
  "theater-complex-picture-section theater-complex-info-section theater-complex-edit-section";
  height: 100vh;
  width: 100%;
}

.theater-complex-picture-section {
  grid-area: theater-complex-picture-section;
  padding: 20px;
  text-align: center;
}

.theater-complex-info-section {
  grid-area: theater-complex-info-section;
}

.theater-complex-edit-section {
  grid-area: theater-complex-edit-section;
}

.theater-complex-default-image {
  width: 100%;
  max-width: 200px;
  margin: 50px auto 0;
  background-color: brown;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 20px;
}

.theater-complex-account-number {
  font-size: 2em;
  margin-top: 20px;
}

#theater-complex-image {
  font-size: 6em;
  margin: 0 auto;
}

.theater-complex-info-name {
  display: flex;
  width: 100%;
  margin-top: 80px;
}

.theater-complex-info-name-badge {
  width: 140px;
}

.theater-complex-info-phone {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.theater-complex-info-phone-badge {
  width: 140px;
}

.theater-complex-info-address {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.theater-complex-info-address-badge {
  width: 140px;
}

#theater-complex-edit-button {
  margin: 80px auto 0;
}

.flex-display {
  display: flex;
}
