body {
  display: flex;
  margin: 0px;
}

.tickets-content {
  display: grid;
  grid-template-rows: 10vh 7vh 83vh;
  grid-template-areas:
  "tickets-title-section"
  "tickets-alert-section"
  "tickets-info-section"
  ;
  width: 100%;
}

.tickets-title-section {
  grid-area: tickets-title-section;
  background-color: rgba(218, 218, 218, 0.57);
  text-align: center;
  box-shadow: 0 2px 1px -1px gray;
  min-height: 130px;
}

.tickets-title-section h1 {
  margin-top: 18px;
}

.buy-tickets-button {
  float: right;
  margin-right: 40px !important;
  margin-left: -145px;
}

.tickets-alert-section {
  grid-area: tickets-alert-section;
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.tickets-info-section {
  grid-area: tickets-info-section;
  width: 80%;
  margin: 0 auto;
}

.remove-cell {
  text-align: center;
}

.cancel-tickets-link {
  text-decoration: none;
  color: black;
}

.cancel-tickets-link:hover {
  text-decoration: none;
  color: black;
}

.cancel-tickets:hover {
  z-index: 1;
  color: red;
  transition: color 0.3s ease-in-out;
}
