body {
  display: flex;
  margin: 0px;
}

.movie-content {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  grid-template-areas: 
  "movie-picture-section movie-info-section movie-edit-section";
  height: 100vh;
  width: 100%;
}

.movie-picture-section {
  grid-area: movie-picture-section;
  padding: 20px;
  text-align: center;
}

.movie-info-section {
  grid-area: movie-info-section;
}

.movie-edit-section {
  grid-area: movie-edit-section;
}

.movie-default-image {
  width: 100%;
  max-width: 200px;
  margin: 50px auto 0;
  background-color: brown;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 20px;
}

.movie-account-number {
  font-size: 2em;
  margin-top: 20px;
}

#movie-image {
  font-size: 6em;
  margin: 0 auto;
}

.movie-info-title {
  display: flex;
  width: 100%;
  margin-top: 80px;
}

.movie-info-title-badge {
  width: 140px;
}

.movie-info-run-time {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.movie-info-run-time-badge {
  width: 140px;
}

.movie-info-rating {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.movie-info-rating-badge {
  width: 140px;
}

.movie-info-synopsis {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.movie-info-synopsis-badge {
  width: 140px;
}

.movie-info-synopsis-field {
  width: 70%;
}

.movie-info-director {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.movie-info-director-badge {
  width: 140px;
}

.movie-info-production-company {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.movie-info-production-company-badge {
  width: 140px;
}

.movie-info-supplier-name {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.movie-info-supplier-name-badge {
  width: 140px;
}

.movie-info-start-date {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.movie-info-start-date-badge {
  width: 140px;
}

.movie-info-end-date {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.movie-info-end-date-badge {
  width: 140px;
}

#movie-create-button {
  margin: 80px auto 0;
}

#movie-edit-button {
  margin: 20px auto 0;
}

.flex-display {
  display: flex;
}

/* Edit Movie Styles */


.movie-edit-info-movie-title {
  display: flex;
  width: 100%;
  margin-top: 80px;
}

.movie-edit-info-movie-synopsis {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.movie-edit-info-run-time {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.movie-edit-info-rating {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.movie-edit-info-director {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.movie-edit-info-production-company {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.movie-edit-info-supplier {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.movie-edit-info-start-date {
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
}

.movie-edit-info-start-date-badge {
  width: 140px;
}

.movie-edit-info-end-date {
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: space-between;
}

.movie-edit-info-end-date-badge {
  width: 140px;
}

.movie-edit-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.date-field {
  width: 180px !important;
}

/* End Edit Movie Styles */