body {
  display: flex;
  margin: 0px;
}

/* Side Menu Styles */

nav {
  background: #136fd2;
  height: 100vh;
  width: 75px;
}

nav .menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

nav .menu-item {
  color: #ffffff;
  font-size: 2em;
  display: inline-block;
  text-align: center;
  height: 75px;
}

nav .menu-item:hover {
  text-decoration: none;
  font-size: 2.5em;
  transition: font-size 0.5s ease-in-out, background-color 0.5s ease-in-out;
  background-color: #13549a;
}

.profile-item {
  background-color: #6717d2;
  color: #ffffff;
  border: 1px solid; 
  text-align: center;
  font-size: 2em;
  display: inline-block;
}

#profile-item {
  margin: 20px auto;
}

#menu-item {
  margin: 20px auto;
}

nav .close-nav {
  display: none;
}

.dashboard-content {
  grid-template-columns: 1fr;
  width: 100%;
  height: 500px;
}

.close {
  display: none;
}

.open {
  display: none;
}

 /* End Side Menu Styles */

.movie-list-content {
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-areas:
  "movie-list-title-section"
  "movie-list-info-section"
  ;
  width: 100%;
}

.movie-list-title-section {
  grid-area: movie-list-title-section;
  background-color: rgba(218, 218, 218, 0.57);
  box-shadow: 
}

.movie-list-title-section {
  text-align: center;
  box-shadow: 0 2px 1px -1px gray;
}

.movie-list-info-section {
  grid-area: movie-list-info-section;
  width: 80%;
  margin: 0 auto;
}

.table-item {
  cursor: pointer;
}

@media only screen and (max-width: 599px) {
  
    #side-menu {
      transition: transform .3s ease-in-out;
      top: 0;
      bottom: 0;   
      min-height: 100vh; 
      position: fixed;
      left: -340px;
    }
  
    #side-menu:target {     
      transform: translateX(340px);
    }
  
    #close {
      color: #ffffff;
      font-size: 2em;
      text-align: center;
      height: 75px;
      display: flex;
      align-content: flex-end;
      text-decoration: none;
    }

    #open {
      color: black;
      text-decoration: none;
      display: block;
    }

    #menu-close {
      margin: 20px auto;
      color: red;
    }
  
}